app.namespace=https://jpa03-cody-sasaki.herokuapp.com
app.admin.emails=phtcon@ucsb.edu, cody_sasaki@ucsb.edu

auth0.domain=ucsb-cs156-cody-sasaki.us.auth0.com
auth0.clientId=UlIqJe0Ja5TqkgU00xFTRdTntTi4o7jH

security.oauth2.resource.id=https://jpa03-cody-sasaki.herokuapp.com
security.oauth2.resource.jwk.keySetUri=https://${auth0.domain}/.well-known/jwks.json
